/* Add padding to container elements */
.container {
	margin: auto;
	width: 100%;
	text-align: center;
	font-family: Helvetica, sans-serif;
}

form {
	border: 3px solid Silver;
	margin: auto;
	width: 25%;
	font-size: 10px;
	padding: 10px;
}
	
form.container {
	padding: 16px;
}
	
input[type = text], select, textarea {
	text-align: center;
	width: 100%;
	padding: 15px 20px;
	margin: 20px 0px;
	display: block;
	border: 1px solid LightGrey;
	box-sizing: border-box;
}

input[type = submit] {
	background-color: Grey;
	color: white;
	padding: 14px 20px;
	margin: auto;
	border: none;
	cursor: pointer;
	width: 50%;
}

input[type = submit]:hover {
	background-color: Red;
}

@media only screen and (max-width: 620px) {
	.container {
		width: 100%;
	}
}
	
