* {
	box-sizing: inherit;
}

a:-webkit-any-link {
	cursor: pointer;
}

ul {
	list-style: disc;
}

ul, ol {
	margin: 0 0 1.6em 1.6em;
}

ol, ul {
	list-style: none;
}

li {
	text-align: -webkit-match-parent;
}

svg:not(:root), symbol, image, marker, pattern, foreignObject {
	overflow: hidden;
}

.heading {
	text-align: center;
}

.media {
	text-align: center;
	padding: 50px;
}

.jetpack-social-navigation {
	clear: both;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

.jetpack-social-navigation ul {
	display: block;
	margin: 0 0 1.5em;
	padding: 0;
}

.jetpack-social-navigation ul a, .jetpack-social-navigation ul a:visited {
	display: inline-block;
	text-decoration: none;
	color: white;
	transition: color .2s;
}

.jetpack-social-navigation a {
	border: 0;
	height: 1em;
	width: 1em;
}

.jetpack-social-navigation ul li {
	display: inline-block;
	background: DarkBlue;
	color: white;
	font-size: 14px;
	list-style: none;
	line-height: .5;
	margin: .2em .1em;
	padding: 8px;
	border-radius: 50%;
}

.jetpack-social-navigation-svg .icon {
	color: inherit;
	fill: currentColor;
	height: 1em;
	vertical-align: middle;
	width: 1em;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	left: -1000em;
}

.menu-item-11:hover, .menu-item-12:hover, .menu-item-13:hover, .menu-item-14:hover {
	-ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}
	
