* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

header {
	background-color: LightBlue;
	box-shadow: 10px 10px 5px Silver;
	color: white;
	padding: 1px 1px 1px 1px;
}

h1 {
	margin-left: 10px;
	padding: 1px;
	font-size: 15px;
}

h2 {
	text-align: center;
}

.logo {
	padding-bottom: 1px;
	padding-right: 1px;
	float: right;
}

.nav, .menu {
	text-shadow: 10px 10px 5px Silver;
    padding: 15px 5px;
	font-family: Helvetica, sans-serif;
	font-size: 5px;
}

.navbar a {
	padding: 6px 8px 6px 6px;
	text-align: center;
    text-decoration: none;
    font-size: 10px;
    color: black;
}

.navbar a.active {
	background-color: LightBlue;
	color: white;
}

.navbar a:hover {
	border-right: 1px groove black;
	border-left: 1px groove black;
	color: black;
}

.menu {
	margin: auto;
}

.info {
	margin: 10px;
	padding: 50px 50px;
}

footer {
	background: LightBlue;
	color: black;
	text-align: center;
	font-size: 8px;
	position: absolute;
	bottom: 0px;
	width: 100%;
}

@media all and (min-width: 768px) {
	.nav, .navbar, .menu, .info {
		text-align: left;
		-webkit-flex: 1 auto;
		flex: 1 auto;
		-webkit-order: 1;
		order: 1;
	}
	footer {
		-webkit-order: 3;
		order: 3;
	}
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width:800px) {
	footer, .nav, .navbar, .menu, .info {
		width:100%; /* The width is 100%, when the viewport is 800px or smaller */
	}
}

@media screen and (max-height: 450px) {
    footer, .nav, .navbar, .menu, .info {
		padding-top: 15px;
	}
    footer, .nav a, .navbar a, .menu a, .info {
		font-size: 18px;
	}
}
