* {
	margin: 0;
	box-sizing: border-box;
	font-family: Roboto;
}

body, html {
	width: 100%;
	height: 100%;
}

body {
	transition: background-color 0.5s;
	overflow-x: hidden;
}

h1 {
	background-color: black;
	color: white;
	text-align: center;
	font-size: 30px;
	padding: 20px;
}

h2 {
	color: black;
	text-align: center;
}

img {
	-ms-transform: scale(.9); /* IE 9 */
    -webkit-transform: scale(.9); /* Safari 3-8 */
    transform: scale(.9);
	margin: 0;
	}

#main {
	transition: margin-left .6s;
}

#about {
	font-family: inherit;
	margin: 100px;
}

.logo {
	background-image: url("");
	height: 100%;
	background-position: top-left;
	background-repeat: no-repeat;
	background-size: 100%;
}

.navbar {
	margin: 15px;
	padding: 10px 0 10px 40px;
	font-weight: bold;
	/*text-align: center;*/
}

.navbar a {
	padding: 6px 8px 6px 6px;
	text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.navbar a.active {
	background-color: black;
	border-radius: 5px;
	color: white;
}

.navbar a:hover {
	border-right: 1px groove black;
	border-left: 1px groove black;
	color: black;
}

.sidemenu a:hover {
	color: white;
}

.nav, .sidemenu {
	text-shadow: 10px 10px 5px Silver;
    padding: 15px 5px;
	font-family: Helvetica, sans-serif;
	font-size: 5px;
}

.sidemenu {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidemenu a{
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 20px;
	color: black;
	font-weight: bold;
	display: block;
	transition: 0.3s;
}

.sidemenu .close {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 35px;
	margin-left: 50px;
}

.button p {
	background-color: black;
}

.book {
	text-align: center;
}

span {
	margin: 10px;
	padding: 15px;
	color: white;
	cursor: pointer;
	float: left;
}

span:hover {
	color: white;
}

footer {
	background-color: black;
	color: white;
	margin: auto;
	text-align: center;
	font-size: 8px;
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 25px;
	z-index: 1;
}

@media screen and (max-height: 450px) {
	.sidemenu {
		padding-top: 15px;
	}
	.sidemenu a {
		font-size: 18px;
	}
	
}

@media only screen and (min-width: 240px) {
	.book {
		overflow: hidden;
		text-overflow: clip;
		white-space: nowrap;
	}
}

