.heading {
	text-align: center;
	padding: 15px;
}

form {
	background-color: Silver;
	border: 3px solid Silver;
	font-size: 10px;
	width: 40%;
	margin: 0 auto;
	text-align: center;
}

form p {
	padding: 5px;
}

.form {
	margin: 10px auto;
	padding: 15px;
}

input[type = text, tel, message, submit], textarea {
	border: 1px solid LightGrey;
	box-sizing: border-box;
	padding: 5px;
}

.submit {
	background-color: black;
	color: white;
	padding: 15px 20px;
	margin: 10px auto;
	border: none;
	cursor: pointer;
}

.submit:hover {
	opacity: 0.8;
}

.error {
	color: red;
}

@media only screen and (max-width: 600px) {
	form, .form, input, textarea {
		width: auto;
	}
}

@media only screen and (min-width: 240px) {
	.submit {
		width: 30%;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
	

