.heading {
	text-align: center;
}

/* Add padding to container elements */
.form {
	margin: 30px auto;
	text-align: center;
	font-family: Helvetica, sans-serif;
	
}

form {
	background-color: Silver;
	border: 3px solid Silver;
	margin: auto;
	font-size: 10px;
	padding: 10px;
	width: 25%;
}
	
form.form {
	padding: 15px;
}
	
input[type = text], textarea {
	text-align: center;
	width: 100%;
	padding: 15px 20px;
	margin: 8px 0px;
	display: block;
	border: 1px solid LightGrey;
	box-sizing: border-box;
}

button {
	background-color: black;
	color: white;
	padding: 14px 20px;
	margin: auto;
	border: none;
	cursor: pointer;
}

button:hover {
	opacity: 0.5;
}

.submit {
	margin-top: 5px;
}

@media only screen and (max-width: 800px) {
	.form {
		width: 75%;
	}
}

@media only screen and (min-width: 240px) {
	button {
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.book {
		overflow: hidden;
		text-overflow: clip;
		white-space: nowrap;
	}
}
	

